<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doente-heading">Create or edit a Doente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_situacao">Situacao</label>
                    <select class="form-control" name="situacao" formControlName="situacao" id="field_situacao">
                        <option value="StatusPRHD">StatusPRHD</option>
                        <option value="StatusFalecido">StatusFalecido</option>
                        <option value="StatusTranspl">StatusTranspl</option>
                        <option value="StatusRecFam">StatusRecFam</option>
                        <option value="StatusTransfer">StatusTransfer</option>
                        <option value="StatusDP">StatusDP</option>
                        <option value="StatusInternado">StatusInternado</option>
                        <option value="StatusEmTransito">StatusEmTransito</option>
                        <option value="StatusEmFerias">StatusEmFerias</option>
                        <option value="StatusAlta">StatusAlta</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_turnos">Turnos</label>
                    <select class="form-control" id="field_turnos" name="turnos" formControlName="turnos">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="turnosOption.id === editForm.get('turnos')!.value?.id ? editForm.get('turnos')!.value : turnosOption" *ngFor="let turnosOption of turnos; trackBy: trackById">{{ turnosOption.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
