<div>
    <h2 id="page-heading">
        <span>Doentes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doente" [routerLink]="['/doente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Doente
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="doentes?.length === 0">
        <span>No doentes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="doentes && doentes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Situacao</span></th>
                    <th scope="col" ><span>Turnos</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doente of doentes ;trackBy: trackId">
                    <td><a [routerLink]="['/doente', doente.id, 'view']">{{ doente.id }}</a></td>
                    <td>{{ doente.situacao }}</td>
                    <td>
                        <div *ngIf="doente.turnos">
                            <a [routerLink]="['/turnos', doente.turnos?.id, 'view']" >{{ doente.turnos?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/doente', doente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/doente', doente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(doente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
