#bt {
  margin-top: 2rem;
}

.lab {
  font-size: 1vw;
}

.item {
  font-size: 1vw;
}

label {
  font-weight: 900;
}

.rem {
  font-size: 0.8vw;
}

#save-entity {
  font-size: 1vw;
  margin-right: 1.8rem;
}

.but {
  font-size: 1vw;
}
