<div>
    <h2 id="page-heading">
        <span>Doente Identidades</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doente-identidade" [routerLink]="['/doente-identidade/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Doente Identidade
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="doenteIdentidades?.length === 0">
        <span>No doenteIdentidades found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="doenteIdentidades && doenteIdentidades.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Data Nasc</span></th>
                    <th scope="col" ><span>Altura</span></th>
                    <th scope="col" ><span>Morada</span></th>
                    <th scope="col" ><span>Cod Post</span></th>
                    <th scope="col" ><span>Freguesia</span></th>
                    <th scope="col" ><span>Nif</span></th>
                    <th scope="col" ><span>Med Fam</span></th>
                    <th scope="col" ><span>Sexo</span></th>
                    <th scope="col" ><span>Telef</span></th>
                    <th scope="col" ><span>Telef 2</span></th>
                    <th scope="col" ><span>Doc Id</span></th>
                    <th scope="col" ><span>N Benef</span></th>
                    <th scope="col" ><span>N Utente</span></th>
                    <th scope="col" ><span>Num Proc Hosp</span></th>
                    <th scope="col" ><span>Doente</span></th>
                    <th scope="col" ><span>Subsistemas</span></th>
                    <th scope="col" ><span>Aces</span></th>
                    <th scope="col" ><span>Country</span></th>
                    <th scope="col" ><span>Centro Saude</span></th>
                    <th scope="col" ><span>Hosp Ref</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doenteIdentidade of doenteIdentidades ;trackBy: trackId">
                    <td><a [routerLink]="['/doente-identidade', doenteIdentidade.id, 'view']">{{ doenteIdentidade.id }}</a></td>
                    <td>{{ doenteIdentidade.nome }}</td>
                    <td>{{ doenteIdentidade.dataNasc | date:'mediumDate' }}</td>
                    <td>{{ doenteIdentidade.altura }}</td>
                    <td>{{ doenteIdentidade.morada }}</td>
                    <td>{{ doenteIdentidade.codPost }}</td>
                    <td>{{ doenteIdentidade.freguesia }}</td>
                    <td>{{ doenteIdentidade.nif }}</td>
                    <td>{{ doenteIdentidade.medFam }}</td>
                    <td>{{ doenteIdentidade.sexo }}</td>
                    <td>{{ doenteIdentidade.telef }}</td>
                    <td>{{ doenteIdentidade.telef2 }}</td>
                    <td>{{ doenteIdentidade.docId }}</td>
                    <td>{{ doenteIdentidade.nBenef }}</td>
                    <td>{{ doenteIdentidade.nUtente }}</td>
                    <td>{{ doenteIdentidade.numProcHosp }}</td>
                    <td>
                        <div *ngIf="doenteIdentidade.doente">
                            <a [routerLink]="['/doente', doenteIdentidade.doente?.id, 'view']" >{{ doenteIdentidade.doente?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doenteIdentidade.subsistemas">
                            <a [routerLink]="['/sub-sistemas', doenteIdentidade.subsistemas?.id, 'view']" >{{ doenteIdentidade.subsistemas?.gidNome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doenteIdentidade.aces">
                            <a [routerLink]="['/aces', doenteIdentidade.aces?.id, 'view']" >{{ doenteIdentidade.aces?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doenteIdentidade.country">
                            <a [routerLink]="['/country', doenteIdentidade.country?.id, 'view']" >{{ doenteIdentidade.country?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doenteIdentidade.centroSaude">
                            <a [routerLink]="['/centro-saude', doenteIdentidade.centroSaude?.id, 'view']" >{{ doenteIdentidade.centroSaude?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="doenteIdentidade.hospRef">
                            <a [routerLink]="['/hosp-ref', doenteIdentidade.hospRef?.id, 'view']" >{{ doenteIdentidade.hospRef?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/doente-identidade', doenteIdentidade.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/doente-identidade', doenteIdentidade.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(doenteIdentidade)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
