<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doente-identidade-heading">Create or edit a Doente Identidade</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dataNasc">Data Nasc</label>
                    <div class="input-group">
                        <input id="field_dataNasc" type="text" class="form-control" name="dataNasc" ngbDatepicker #dataNascDp="ngbDatepicker" formControlName="dataNasc"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataNascDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_altura">Altura</label>
                    <input type="number" class="form-control" name="altura" id="field_altura"
                           formControlName="altura"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_morada">Morada</label>
                    <input type="text" class="form-control" name="morada" id="field_morada"
                           formControlName="morada"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_codPost">Cod Post</label>
                    <input type="text" class="form-control" name="codPost" id="field_codPost"
                           formControlName="codPost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_freguesia">Freguesia</label>
                    <input type="text" class="form-control" name="freguesia" id="field_freguesia"
                           formControlName="freguesia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nif">Nif</label>
                    <input type="number" class="form-control" name="nif" id="field_nif"
                           formControlName="nif"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medFam">Med Fam</label>
                    <input type="text" class="form-control" name="medFam" id="field_medFam"
                           formControlName="medFam"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" formControlName="sexo" id="field_sexo">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_telef">Telef</label>
                    <input type="number" class="form-control" name="telef" id="field_telef"
                           formControlName="telef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_telef2">Telef 2</label>
                    <input type="number" class="form-control" name="telef2" id="field_telef2"
                           formControlName="telef2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_docId">Doc Id</label>
                    <input type="number" class="form-control" name="docId" id="field_docId"
                           formControlName="docId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nBenef">N Benef</label>
                    <input type="number" class="form-control" name="nBenef" id="field_nBenef"
                           formControlName="nBenef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nUtente">N Utente</label>
                    <input type="number" class="form-control" name="nUtente" id="field_nUtente"
                           formControlName="nUtente"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numProcHosp">Num Proc Hosp</label>
                    <input type="number" class="form-control" name="numProcHosp" id="field_numProcHosp"
                           formControlName="numProcHosp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_doente">Doente</label>
                    <select class="form-control" id="field_doente" name="doente" formControlName="doente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doenteOption.id === editForm.get('doente')!.value?.id ? editForm.get('doente')!.value : doenteOption" *ngFor="let doenteOption of doentes; trackBy: trackById">{{ doenteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subsistemas">Subsistemas</label>
                    <select class="form-control" id="field_subsistemas" name="subsistemas" formControlName="subsistemas">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subSistemasOption.id === editForm.get('subsistemas')!.value?.id ? editForm.get('subsistemas')!.value : subSistemasOption" *ngFor="let subSistemasOption of subsistemas; trackBy: trackById">{{ subSistemasOption.gidNome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_aces">Aces</label>
                    <select class="form-control" id="field_aces" name="aces" formControlName="aces">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="acesOption.id === editForm.get('aces')!.value?.id ? editForm.get('aces')!.value : acesOption" *ngFor="let acesOption of aces; trackBy: trackById">{{ acesOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_centroSaude">Centro Saude</label>
                    <select class="form-control" id="field_centroSaude" name="centroSaude" formControlName="centroSaude">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="centroSaudeOption.id === editForm.get('centroSaude')!.value?.id ? editForm.get('centroSaude')!.value : centroSaudeOption" *ngFor="let centroSaudeOption of centrosaudes; trackBy: trackById">{{ centroSaudeOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_hospRef">Hosp Ref</label>
                    <select class="form-control" id="field_hospRef" name="hospRef" formControlName="hospRef">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="hospRefOption.id === editForm.get('hospRef')!.value?.id ? editForm.get('hospRef')!.value : hospRefOption" *ngFor="let hospRefOption of hosprefs; trackBy: trackById">{{ hospRefOption.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
