<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doenteDiagnosticoSocial">
            <h2><span>Doente Diagnostico Social</span> {{ doenteDiagnosticoSocial.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Descr</span></dt>
                <dd>
                    <span>{{ doenteDiagnosticoSocial.descr }}</span>
                </dd>
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{ doenteDiagnosticoSocial.data }}</span>
                </dd>
                <dt><span>Doente</span></dt>
                <dd>
                    <div *ngIf="doenteDiagnosticoSocial.doente">
                        <a [routerLink]="['/doente', doenteDiagnosticoSocial.doente?.id, 'view']">{{ doenteDiagnosticoSocial.doente?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doente-diagnostico-social', doenteDiagnosticoSocial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
