<div>
    <h2 id="page-heading">
        <span>Doente Contactos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doente-contactos" [routerLink]="['/doente-contactos/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Doente Contactos
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="doenteContactos?.length === 0">
        <span>No doenteContactos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="doenteContactos && doenteContactos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Transportador</span></th>
                    <th scope="col" ><span>Telef Transp</span></th>
                    <th scope="col" ><span>Doente</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doenteContactos of doenteContactos ;trackBy: trackId">
                    <td><a [routerLink]="['/doente-contactos', doenteContactos.id, 'view']">{{ doenteContactos.id }}</a></td>
                    <td>{{ doenteContactos.transportador }}</td>
                    <td>{{ doenteContactos.telefTransp }}</td>
                    <td>
                        <div *ngIf="doenteContactos.doente">
                            <a [routerLink]="['/doente', doenteContactos.doente?.id, 'view']" >{{ doenteContactos.doente?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/doente-contactos', doenteContactos.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/doente-contactos', doenteContactos.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(doenteContactos)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
