<div>
    <h2 id="page-heading">
        <span>Habits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-habit" [routerLink]="['/habit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Habit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="habits?.length === 0">
        <span>No habits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="habits && habits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let habit of habits ;trackBy: trackId">
                    <td><a [routerLink]="['/habit', habit.id, 'view']">{{ habit.id }}</a></td>
                    <td>{{ habit.nome }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/habit', habit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/habit', habit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(habit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
