<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-horario-doente-heading">Create or edit a Horario Doente</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dia">Dia</label>
                    <input type="text" class="form-control" name="dia" id="field_dia"
                           formControlName="dia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_turno">Turno</label>
                    <input type="text" class="form-control" name="turno" id="field_turno"
                           formControlName="turno"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sala">Sala</label>
                    <input type="number" class="form-control" name="sala" id="field_sala"
                           formControlName="sala"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_posto">Posto</label>
                    <input type="text" class="form-control" name="posto" id="field_posto"
                           formControlName="posto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_duracao">Duracao</label>
                    <input type="number" class="form-control" name="duracao" id="field_duracao"
                           formControlName="duracao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_doente">Doente</label>
                    <select class="form-control" id="field_doente" name="doente" formControlName="doente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doenteOption.id === editForm.get('doente')!.value?.id ? editForm.get('doente')!.value : doenteOption" *ngFor="let doenteOption of doentes; trackBy: trackById">{{ doenteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
