#demonome {
  display: inline-flex;
  width: 100%;
}

h2 {
  margin: auto;
}

#navbar {
  color: #3e8acc;
  margin-left: 2rem;
  margin-top: 2.5rem;
}

#bt {
  font-size: 1vw;
  margin-right: 1.4rem;
}

.navItem {
  margin-right: 3rem;
  font-size: 1.2vw;
}

#demo {
  font-size: 2.2vw;
}

#nome {
  font-size: 1.8vw;
}
