#titulo {
  text-align: center;
  font-size: 3vw;
}

label {
  font-size: 1.5vw;
}

.row {
  width: 100%;
  margin-left: 2rem;
}
h4 {
  font-weight: 100;
}

#bt {
  font-size: 1vw;
  margin-right: 1.8rem;
}

.item {
  font-size: 1.5vw;
}

.ctn {
  width: fit-content;
  margin: auto;
}

.rou {
 display: flex;
}

#doentes {
  padding-left: 10vw;
}

.bp {
  height: 100%;
  margin-right: -3vw;
}
.labelinput{
  display: block;
}