#titulo {
  text-align: center;
  font-size: 3vw;
}

label {
  font-size: 1.5vw;
}

.row {
  width: 100%;
  margin-left: 2rem;
}
h4 {
  font-weight: 100;
}

#bt {
  font-size: 1vw;
  margin-right: 1.8rem;
}

.item {
  font-size: 1.5vw;
}

.ctn {
  max-width: 80vw;
}

.rou {
  margin-left: 9vw;
}

#doentes {
  padding-left: 10vw;
}

.bp {
  margin-top: 0.4vw;
  margin-left: -3vw;
}
