<div *ngIf="selectDoente">
<h2 style="font-size: 2vw;" id="titulo">Seletor de doentes</h2>
<br>
<br>
<div class="ctn">
<div class="rou">
<div class="labelinput">

<input style="height: 100%;    position: relative;;" list="situacoes" name="situacao" placeholder="situação" [(ngModel)]="situacao">
<datalist id="situacoes">
    <option value="StatusPRHD">
    <option value="StatusFalecido">
    <option value="StatusTranspl">
    <option value="StatusRecFam">
    <option value="StatusTransfer">
    <option value="StatusDP">
    <option value="StatusInternado">
    <option value="StatusemTransito">
    <option value="StatusEmFerias">
    <option value="StatusAlta">
  </datalist>
</div>
<div class="labelinput">
<input style="height:100%;    position: relative;;margin-left: 2%;" list="subSistemas" name="sub" placeholder="subsistema" [(ngModel)]="sub">
<datalist id="subSistemas">
    <option *ngFor="let subSistemas of subSistemas" value={{subSistemas.gidNome}}>
</datalist>
</div>
<div class="labelinput"s>

<input style="height:100%    ;position:relative;" list="turnos" name="turno" placeholder="turno" [(ngModel)]="turno">
<datalist id="turnos">
    <option>Turno atual</option>
    <option *ngFor="let turno of turnos" value={{turno.nome}}>
</datalist>
</div>
<div class=" bp">
    <button (click)="loadDo(situacao,sub,turno)" class="btn btn-primary" id="bt">Pesquisar</button>
</div>
</div>

<br>
<div id="doentes">
<h4 class="item" *ngFor="let doenteIdentidade of doenteIdentidades" (click)="logar(doenteIdentidade)">{{doenteIdentidade.nome}}</h4>
</div>
</div>