<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doenteSocioFamiliar">
            <h2><span>Doente Socio Familiar</span> {{ doenteSocioFamiliar.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Habilitacoes</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.habilitacoes }}</span>
                </dd>
                <dt><span>Est Civil</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.estCivil }}</span>
                </dd>
                <dt><span>Conjuge Nome</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.conjugeNome }}</span>
                </dd>
                <dt><span>Conjuge Prof</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.conjugeProf }}</span>
                </dd>
                <dt><span>Activ Temp Liv</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.activTempLiv }}</span>
                </dd>
                <dt><span>Habitacao Obs</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.habitacaoObs }}</span>
                </dd>
                <dt><span>Grau Conforto Obs</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.grauConfortoObs }}</span>
                </dd>
                <dt><span>Resposta Social</span></dt>
                <dd>
                    <span>{{ doenteSocioFamiliar.respostaSocial }}</span>
                </dd>
                <dt><span>Doente</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.doente">
                        <a [routerLink]="['/doente', doenteSocioFamiliar.doente?.id, 'view']">{{ doenteSocioFamiliar.doente?.id }}</a>
                    </div>
                </dd>
                <dt><span>Vitalidade</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.vitalidade">
                        <a [routerLink]="['/vitalidade', doenteSocioFamiliar.vitalidade?.id, 'view']">{{ doenteSocioFamiliar.vitalidade?.percentagem }}</a>
                    </div>
                </dd>
                <dt><span>Habit</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.habit">
                        <a [routerLink]="['/habit', doenteSocioFamiliar.habit?.id, 'view']">{{ doenteSocioFamiliar.habit?.nome }}</a>
                    </div>
                </dd>
                <dt><span>Grau Conf</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.grauConf">
                        <a [routerLink]="['/grau-conf', doenteSocioFamiliar.grauConf?.id, 'view']">{{ doenteSocioFamiliar.grauConf?.nome }}</a>
                    </div>
                </dd>
                <dt><span>Profissao</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.profissao">
                        <a [routerLink]="['/profissao', doenteSocioFamiliar.profissao?.id, 'view']">{{ doenteSocioFamiliar.profissao?.nome }}</a>
                    </div>
                </dd>
                <dt><span>Sit Prof</span></dt>
                <dd>
                    <div *ngIf="doenteSocioFamiliar.sitProf">
                        <a [routerLink]="['/sit-prof', doenteSocioFamiliar.sitProf?.id, 'view']">{{ doenteSocioFamiliar.sitProf?.nome }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doente-socio-familiar', doenteSocioFamiliar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
