<div>
    <h2 id="page-heading">
        <span>Sub Sis Grupos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sub-sis-grupo" [routerLink]="['/sub-sis-grupo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Sub Sis Grupo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="subSisGrupos?.length === 0">
        <span>No subSisGrupos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="subSisGrupos && subSisGrupos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Gid Designa</span></th>
                    <th scope="col" ><span>Gid Grupo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subSisGrupo of subSisGrupos ;trackBy: trackId">
                    <td><a [routerLink]="['/sub-sis-grupo', subSisGrupo.id, 'view']">{{ subSisGrupo.id }}</a></td>
                    <td>{{ subSisGrupo.gidDesigna }}</td>
                    <td>{{ subSisGrupo.gidGrupo }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sub-sis-grupo', subSisGrupo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sub-sis-grupo', subSisGrupo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(subSisGrupo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
