<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subSistemas">
            <h2><span>Sub Sistemas</span> {{ subSistemas.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Gid Nome</span></dt>
                <dd>
                    <span>{{ subSistemas.gidNome }}</span>
                </dd>
                <dt><span>Gid Code</span></dt>
                <dd>
                    <span>{{ subSistemas.gidCode }}</span>
                </dd>
                <dt><span>Sub Sis Grupo</span></dt>
                <dd>
                    <div *ngIf="subSistemas.subSisGrupo">
                        <a [routerLink]="['/sub-sis-grupo', subSistemas.subSisGrupo?.id, 'view']">{{ subSistemas.subSisGrupo?.gidDesigna }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sub-sistemas', subSistemas.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
